

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Martel+Sans:wght@600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body{
    background-color: black;
    color:white;
    height:97.5%;
    width:100%;
}



/*--------------------------------------------------home------------------------------*/
.main{
    position: relative;
    height:100vh;
    height:97.5%;
    width:100%;
}
.background_image{
    position:absolute;
    height:97.5%;
    width:100%;
    object-fit: cover;
    object-position: center;

}
.line{
  
    width:100%;
}
.line img {
    width: 100%;
}
.box{
    background-color: black;
    opacity:0.80;
    height:97.5%;
    width:100%;
    position:absolute;
    
}

nav{
   margin-top: 13px;
   position:relative;
   z-index:2;
   display:flex;
   justify-content:space-around;
   align-items: center;
   padding:20px 50px;
   gap:40vw;
   
}
.nav-right{
    display: flex;
    gap: 15px;
}
.language{
    display: flex;
    gap: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    width:4.5cm;
    

}
.language div i{
    height:7px;
    width:7px;
    margin-right:10px;
    padding:10px;
}
.lang {
    padding: 5px;
    background: transparent;
    font-size: 20px;
    color: white;
    border:none;

}
.sign-in {
    background-color: red;
    color: white;
    border: none;
    padding: 7px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    width:3cm;
}
.hero {
    position: relative;
    z-index: 2;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero h1{
    font-weight:1000;
    font-size:70px;
    letter-spacing: -1.8px;
    text-align: center;
}
.hero h2{
    font-weight:940;
    font-size:70px;
    line-height:1.2;
    letter-spacing: -1.8px;
    text-align: center;

}
.hero h3{
    font-weight:650;
    font-size:27px;
    line-height:4;
    letter-spacing: -1px;
    text-align: center;

}
.hero p{
    font-weight:500;
    font-size:20px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 1px;

}
.hero-input {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.hero-input input {
    background: transparent;
    padding: 12px;
    height: 75px;;
    width: 500px;
    font-size: 20px;
    max-width: 80vw;
    border: none;
    color: white;
    border: 1px solid gray;
    border-radius: 6px;
    font-weight:500;
}

.hero-input button {
    background-color: red;
    width: 250px;
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 28px;
    cursor: pointer;
    border-radius: 6px;
    font-weight:750;
}


@media (max-width: 768px) {

    html, body {
        overflow-x: hidden;
    }

    * {
        max-width: 100%;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;
        gap: 10px;
    }

    .logo img {
        height: 35px;
    }

    .nav-right {
        gap: 8px;
    }

    .language {
        width:auto;
        padding: 3px 6px;
    }
    
    
    .lang {
        font-size: 14px;
    }

    .sign-in {
        font-size: 14px;
        padding: 5px 10px;
        width: auto;
    }

    .hero {
        padding: 0 10px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero h2 {
        font-size: 1.5rem;
    }

    .hero h3 {
        font-size: 1rem;
        line-height: 1.5;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .hero-input {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-input input,
    .hero-input button {
        width: 100%;
        height: auto;
    }
    
    .hero-input button {
        width: 70vw;
        height: auto;
    }

    .background_image,
    .box,
    .main {
        width: 100%;
        height: 100vh;
    }
}



/*------------------------------------------Trending Now---------------------------------*/



.trending h2 {
  margin-top: 10px;;
  margin-bottom: 30px;
  font-size: 33px;
  margin-left: 10%;
  margin-right: 12%;
  font-weight: bold;

}

.row::-webkit-scrollbar {
  display: none;
}

.cd {
  position: relative;
  min-width: 180px;
  height: 330px;
  flex: 0 0 auto;
  border-radius: 10px;
  overflow: visible;
  transition: transform 0.3s ease;

}

.cd img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cd:hover {
  transform: scale(1.08);
}

.rank {
  position: absolute;
  bottom: 0.1rem;
  left: -1.0rem;
  font-size: 9rem;
  font-weight:bolder;
  color: rgba(13, 12, 12, 0.85);
  -webkit-text-stroke: 2px rgb(251, 246, 246);
  z-index: 2;
  pointer-events: none;
  box-sizing: border-box;
}
.slider-wrapper {
 position: relative;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0 40px;
}


.row {
  display: flex;
  overflow-x: auto;
  gap: 55px;
  scroll-behavior: smooth;
  
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  height:155px;
  font-size: 45px;
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
  z-index: 5;
}
.arrow:hover{
    background:rgba(71, 71, 71, 0.6);
    
}

.left {
  left: -20px;
}

.right {
  right: -20px;
}
@media (max-width: 768px){

  .trending h2{
    font-size: 24px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
  }

  .slider-wrapper{
    margin-left: 5%;
    margin-right: 5%;
    padding: 0 25px;
  }

  .row{
    gap: 20px;
  }

  .cd{
    min-width: 120px;
    height: 220px;
  }

  .rank{
    font-size: 5rem;
    left: -0.6rem;
    -webkit-text-stroke: 1px white;
  }

  .arrow{
    height: 90px;
    font-size: 28px;
    padding: 5px;
  }

  .left{
    left: -8px;
  }

  .right{
    right: -8px;
  }
}

     









/*--------------------------------------downbox-----------------------------------------------*/

.downbox {
    background-color: black;
    padding: 50px 20px;
    padding: 50px;
}


.section-title {
    font-size: 33px;
    margin-bottom: 20px;
    margin-left: 8vw;
    margin-right: 8vw;
}


.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-left: 8vw;
    margin-right: 8vw;
}

.card {
    background: linear-gradient(145deg, #292c5a, #210e2b);
    border-radius: 15px;
    padding: 20px;
    position: relative;
    min-height: 350px;
    overflow: hidden;

}

.card h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.card p {
    font-size: 20px;
    color: #ccc;
}


.card img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 80px;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }

    .downbox {
        padding: 30px 20px;
    }
}

   







/*--------------------------------question section----------------------------------------*/


.empty {
    width: 100%;
    background-color: black;
    padding-bottom: 30px;
}


.section-title2 {
    font-size: 33px;
    margin-bottom: 20px;
    margin-left: 10vw;
    margin-right: 8vw;
    color: white;
}


.fbox {
    background-color: rgb(48, 47, 47);
    color: white;
    margin: 10px 10vw;
    cursor: pointer;
    transition: 0.3s ease;
    overflow: hidden;
    border-radius: 6px;

}

.fbox:hover {
    background-color: rgb(87, 84, 84);
}


.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    font-weight: 100;
}


.answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.6;
    transition: all 0.4s ease;
    background-color: rgb(48, 47, 47);
}


.fbox.active .answer {
    max-height: 500px;
    padding: 20px;
    border-top: 2px solid black;
}


.question i {
    font-size: 75px;
    font-weight: 500;
    transition: 0.3s ease;
    
}


.fbox.active i {
    transform: rotate(45deg);
}


@media (max-width: 768px) {

    .section-title2 {
        font-size: 22px;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    .question {
        font-size: 18px;
        padding: 15px;
    }

    .answer {
        font-size: 15px;
    }

    .question i {
        font-size: 28px;
    }
}



     









/*-----------------------------------------footer-------------------------------------*/

footer {
    background-color: #000;
    color: #ccc;
    width: 100%;
    height: 100%;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}


.footer1 {
    margin: 90px 10%;
}

.footer1 span {
    font-size: 22px;
    
}
.footer1 span span{
    text-decoration: underline;
}


.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0 10%;
    font-size: 14px;
}

.footer_item {
    display: flex;
    flex-direction: column;
}

.footer_item a {
    color: #ccc;
    margin-bottom: 25px;
    font-size: 18px;
}




footer .p5 {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 1150px;
    margin: auto;
    padding: 0 20px;
    flex-wrap: wrap; 
}

footer .p1 {
    color: white;
    text-align: center;
    font-size: 21px;
    margin: 35px 20px 30px;
}

footer .p2 {
    flex: 1;
    min-width: 300px;
    padding: 18px;
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    background: transparent;
    color: white;
}

footer .p3 {
    background-color: red;
    color: white;
    border: none;
    width:300px;
    padding: 18px 25px;
    font-size: 33px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}


.footer2 {
    margin: 30px 10%;
}

.footer2 p {
    margin: 43px 0;
    font-size: 20px;
}




.lang {
    background: black;
    
}

.m {
    font-size: 20px;
    color: #aaa;
}


@media (max-width: 900px) {
    .footer {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 500px) {
    .footer {
        grid-template-columns: 1fr;
    }

    .footer1 span {
        font-size: 14px;
    }

    footer .p1 {
        font-size: 16px;
    }

    footer .p3 {
        width: 100%;
    }

    footer .p2 {
        width: 100%;
    }
}